/* Base styles */
.parent {
  margin-top: 200px;
  text-align: center;
}

.parent h1 {
  font-size: 32px;
  color: #333333;
  font-weight: 500;
}

.parent > div {
  width: 70%;
  height: 270px;
  margin: 40px auto;
  background-color: #f5f5f5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.parentChild {
  display: flex;
  flex-direction: column;
  width: 80%;
  text-align: left;
  gap: 20px;
}

.parentChild h1 {
  font-size: 29px;
  color: #333333;
  font-weight: 500;
}

.parentChild h2 {
  font-size: 29px;
  color: #333333;
  font-weight: 300;
}

.parentChild p {
  font-size: 16px;
  color: #333333;
  line-height: 28px;
}

.container {
  width: 70%;
  height: 250px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  gap: 25px;
  margin: 0px auto;
  align-items: center;
  padding: 30px;
  overflow-x: scroll;
  scrollbar-width: none;
}

.box {
  width: 32%;
  height: 200px;
  border: 0.5px solid #ababab;
  text-align: left;
}

.box h4 {
  color: #333333;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  margin-left: 20px;
  margin-top: 20px;
}

.box p {
  color: #ababab;
  font-size: 13px;
  line-height: 28px;
  margin-left: 20px;
  margin-top: 20px;
}

.box span {
  width: 30px;
  height: 5px;
  background-color: #48cab2;
  display: inline-block;
  margin-left: 20px;
  margin-top: 25px;
}

.container + div {
  width: 200px;
  display: flex;
  gap: 10px;
  margin: 20px auto;
}

.anchors span {
  width: 30px;
  height: 5px;
  text-decoration: none;
  background-color: #48cab2;
  cursor: pointer;
}

/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
  .parent > div {
    width: 80%;
  }

  .box {
    width: 45%;
  }

  .container {
    width: 80%;
  }

  .container + div {
    width: 150px;
  }
}

@media (max-width: 900px) {
  .parent > div {
    width: 90%;
  }

  .box {
    width: 100%;
    height: auto;
  }

  .container {
    width: 90%;
    height: auto;
    flex-direction: column;
    overflow-x: hidden;
  }

  .parentChild h1,
  .parentChild h2,
  .parentChild p {
    font-size: 18px;
  }

  .box h4 {
    font-size: 14px;
  }

  .box p {
    font-size: 12px;
  }
}

@media (max-width: 600px) {
  .parent {
    margin-top: 100px;
  }

  .parent h1 {
    font-size: 24px;
  }

  .parent > div {
    flex-direction: column;
    height: auto;
  }

  .parentChild {
    width: 100%;
    text-align: center;
  }

  .parentChild h1,
  .parentChild h2 {
    font-size: 22px;
  }

  .parentChild p {
    font-size: 14px;
  }

  .container {
    width: 80%;
  }

  .box {
    width: 100%;
  }

  .anchors {
    display: none;
  }
}
