.parent {
  margin-top: 100px;
  text-align: center;
}

.parent h1 {
  font-size: 32px;
  color: #333333;
  font-weight: 500;
}
.container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 40px;
}

.box {
  width: 500px;
  height: 400px;
}

.box h1 {
  font-size: 18px;
}

.box a {
  font-size: 14px;
  color: #a3b49b;
  text-decoration: none;
}

.box img {
  padding: 50px;
  transition: transform .5s;
  width: 350px;
  height: 350px;
  margin: 0 auto;
}

.box img:hover {
  -ms-transform: scale(1.1); 
  -webkit-transform: scale(1.1);
  transform: scale(1.1); 
}

